<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adriel Fabella</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <!-- Only for the typing -->
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

    <!-- CDN libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <!-- CSS -->
    <link href="/css/reset.css" type="text/css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
<header>
    <div class="intro">
        <h1>Adriel Fabella</h1>
        <h2>Software Engineering Student</h2>
        <div class="element"></div>
    </div>
</header>


<section class="about">
    <div class="about-content container wow fadeInUp">
        <h3>Hi, I'm <span>Adriel.</span></h3>
        <p>{{indexData}}</p>
    </div>
</section>


<div class="container">
    <section class="portfolio">
        <h3 style="text-align: center" class="wow fadeIn">Work</h3>
        <div class="row" style="margin: 5% auto;">
            <div id="work1" class="col-lg-3 col-lg-offset-1 thumbnail text-center wow fadeInLeft">
                <a href="/project1">
                    <img src="img/success.jpg" id="image1" class="image-responsive" width="300" height="200">
                    <div class="caption" id="caption1">
                        <p>Web Development</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 thumbnail text-center wow fadeInDown">
                <a href="/project2">
                    <img src="img/node.png" id="image2" class="image-responsive" width="300" height="200">
                    <div class="caption" id="caption2">
                        <p>Node.js Development</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 thumbnail text-center wow fadeInRight">
                <a href="/project3">
                    <img src="img/android.png" id="image3" class="image-responsive" width="300" height="200">
                    <div class="caption" id="caption3">
                        <p>Android Studio</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div><!--End of "wrapper"-->

<section class="contact">
    <div class="contact-content wow bounceInUp">
        <h4>Want to chat? Email me: <a class="email" href="mailto:adriel.fabella@gmail.com">adriel.fabella@gmail.com</a></h4>
    </div>
</section>

<div class="image-divider">
    <div class="container wow fadeIn">
        <p><span id="first">Qu'attendez vous?</span><br/><span style="font-size: 14pt;">Download my resumes</p>

          <div class="row">
            <div class="col-lg-3">
                <h3>Le Fran&ccedil;ais</h3>
                <a href="/pdf/Resume_Fr.pdf" download>
                    <i class="fa fa-file-pdf-o fa-5x"></i>
                </a>
            </div>
            <div class="col-lg-offset-6 col-lg-3">
                <h3>Le English</h3>
                <a href="/pdf/Resume_En.pdf" download>
                  <i class="fa fa-file-pdf-o fa-5x"></i>
                </a>
            </div>
          </div>
    </div>
</div>

{{> footer}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://use.fontawesome.com/663f1e011b.js"></script>
<script type="text/javascript" src="/javascript/wow.min.js"></script> <!--Licensing in other folder-->
<script type="text/javascript" src="/javascript/typed.js"></script>
<script type="text/javascript" src="/javascript/script.js"></script>

<script>
    var wow = new WOW();
    wow.init();
    $(function(){
        $(".element").typed({
            strings: ["Code the World.", "Evolve the World."],
            typeSpeed: 0,
            backSpeed: 30
        });
    });
</script>




</body>

</html>
