<!-- This project corresponds to the Web Development at Success -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adriel Fabella</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

    <!-- CDN libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <!-- CSS -->
    <link href="/css/reset.css" type="text/css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body class="projects">


  <div class="jumbotron" id="project1">
    <div class="container">
      <p id="tags"><span class="bullet">&#9679</span> HTML CSS JavaScript PHP MySQL</p><br/>
      <h2>Web Development</h2><br/>
      <h4><em>Success Driving School</em></h4>
    </div>
  </div>


  <div class="container" style="padding-bottom: 50px;">
        <p>The goal of this project was to <span id="p1">develop</span> a website intended for the public to know and be informed of the business'
        offers and services</p>
        <br/>
        <p>The web application consists of two parts: the <span id="p1">public</span> and the <span id="p1">admin</span> (the client).</p>
        <br/>
        <p>On the public side, the task was more concentrated on coming up with a slick and interactive <span id="p1">web design</span>.
          This includes doing research on the current trends, which fonts to use, how many pages should be included
          and how should the layout look like.</p>
        <br/>
        <p>On the admin side, the task desired was to create an <span id="p1">admin page</span> which allows the user
          to control the data that is being displayed. Evidently, a login system had to be implemented and a
          simple user interface needed to be created</p>
        <br/>

        <a href="http://successdrivingschool.ca/" id="p1">Click here to be linked to the website</a>
        <br/><br/>
        <a href="/"><i class="fa fa-arrow-circle-o-left fa-3x" aria-hidden="true" style="color: #000;"></i></a>
  </div>


{{> footer}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://use.fontawesome.com/663f1e011b.js"></script>
<script type="text/javascript" src="/javascript/wow.min.js"></script> <!--Licensing in other folder-->
<script type="text/javascript" src="/javascript/script.js"></script>
<script>
    new WOW().init();
</script>
</body>

</html>
