<!-- This project corresponds to the Web Development at Success -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adriel Fabella</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

    <!-- CDN libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <!-- CSS -->
    <link href="/css/reset.css" type="text/css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body class="projects">


<div class="jumbotron" id="project3">
    <div class="container">
        <p id="tags"><span class="bullet">&#9679</span> Java Android-Studio</p><br/>
        <h2>Android Development</h2><br/>
        <h4><em>FastMat</em></h4>
    </div>
</div>


<div class="container" style="padding-bottom: 50px;">
    <video width="300" controls style="float: left; margin-right: 20px;">
        <source src="/videos/FastMatVideo.mp4" type="video/mp4">
    </video>

        <p>We all know that smartphones and electronics are becoming so involved in the lives of many, especially children. I have
        a young sister who enjoys being on a smartphone a lot. Because she is on it so much, she has a hard time putting it down
        and to focus on studying. Hence, I developed the app <span id="p3">FastMat</span> which will allow her to improve her mathematical skills through the
        android app.</p>
        <br/>

        <p>FastMat was created using the <span id="p3">Android Studio</span> platform and it consists of answering an array of small mathematical questions while facing against a timer. Each right answer
        is awarded one point in that time. </p>

    <br/><br/>
</div>

<div class="container" style="margin-bottom: 20px;">
    <a href="/"><i class="fa fa-arrow-circle-o-left fa-3x" aria-hidden="true" style="color: #000;"></i></a>
</div>

{{> footer}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://use.fontawesome.com/663f1e011b.js"></script>
<script type="text/javascript" src="/javascript/wow.min.js"></script> <!--Licensing in other folder-->
<script type="text/javascript" src="/javascript/script.js"></script>
<script>
    new WOW().init();
</script>
</body>

</html>
